<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <style is="custom-style" include="demo-pages-shared-styles">
      input,
      paper-input,
      paper-checkbox {
        margin-bottom: 8px;
      }

      iron-form {
        @apply --shadow-elevation-2dp;
        padding: 20px;
      }

      paper-button {
        display: inline-block;
        width: 45%;
        text-align: center;
      }

      #loginform paper-button {
        width: 30%;
      }

      paper-button:not([disabled]) {
        background: #03a9f4;
        color: white;
      }

      paper-spinner {
        width: 14px;
        height: 14px;
        margin-right: 20px;
      }

      paper-spinner[hidden] {
        display: none;
      }

      .output {
        margin-top: 20px;
        word-wrap: break-word;
        font-family: monospace;
      }
    </style>

    <div class="card">
      <div class="circle">2</div>
      <h1>Login</h1>

      <iron-form id="loginform">
            <form action="/users/signin" method="post">
                <paper-input id="username" type="email" name="username" label="Email" required auto-validate>
                    <iron-icon icon="mail" slot="prefix"></iron-icon>
                </paper-input>
                <paper-input id="password" type="password" name="password" label="Password" required auto-validate>
                    <iron-icon icon="lock" slot="prefix"></iron-icon>
                </paper-input>
                <paper-button auto-validate raised on-click="doSubmit" id="loginSubmit">Login</paper-button>
            </form>
            <br>
            <div class="output"></div>
        </iron-form>
    </div>
  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }

      doSubmit(event) {
        var loginCredentials = {
          username: this.$.username.value,
          password: this.$.password.value,
        }

        console.log(loginCredentials);
        console.log("Submit!");
        this.$.loginform.submit();
      }
    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
