<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="shared-styles.html">

<script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<!-- Ensure Web Animations polyfill is loaded since neon-animation 2.0 doesn't import it -->
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/iron-demo-helpers/demo-snippet.html">
<link rel="import" href="../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-styles/shadow.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <style is="custom-style" include="demo-pages-shared-styles">
      input,
      paper-input,
      paper-checkbox {
        margin-bottom: 8px;
      }

      iron-form {
        @apply --shadow-elevation-2dp;
        padding: 20px;
      }

      paper-button {
        display: inline-block;
        width: 45%;
        text-align: center;
      }

      #signupform paper-button {
        width: 30%;
      }

      paper-button:not([disabled]) {
        background: #03a9f4;
        color: white;
      }

      paper-spinner {
        width: 14px;
        height: 14px;
        margin-right: 20px;
      }

      paper-spinner[hidden] {
        display: none;
      }

      .output {
        margin-top: 20px;
        word-wrap: break-word;
        font-family: monospace;
      }
    </style>

    <div class="card">
      <div class="circle">1</div>
      <h1>Sign Up</h1>

      <iron-form id="signupform">
        <form action="/users/signup" method="post">
            <paper-input id="username" type="email" name="username" label="Email" required auto-validate>
                <iron-icon icon="mail" slot="prefix"></iron-icon>
            </paper-input>
            <paper-input id="password" type="password" name="password" label="Password" required auto-validate>
                <iron-icon icon="lock" slot="prefix"></iron-icon>
            </paper-input>
            <paper-input id="confirmPassword" type="password" name="confirmPassword" label="Confirm Password" required auto-validate>
                <iron-icon icon="lock" slot="prefix"></iron-icon>
            </paper-input>
            <paper-button auto-validate raised on-click="doSubmit" id="signupformSubmit">Sign Up</paper-button>
        </form>
        <br>
        <div class="output"></div>
      </iron-form>
  </template>

  
  <script>

    class MyView1 extends Polymer.Element {
      static get is() {
        return 'my-view1';
      }

      doSubmit(event) {
        var signupCredentials = {
          username: this.$.username.value,
          password: this.$.password.value,
          confirmPassword: this.$.confirmPassword.value
        }

        console.log(signupCredentials);
        console.log("Submit!");
        this.$.signupform.submit();
      }
    }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>